/* This Code All Right Reserved By Ak Milad */

body {
    background: #deffee;
}

.fas {
    margin-right: 4px !important;
    /*override*/
}

.pagination .fas {
    margin-right: 0px !important;
    /*override*/
}

.pagination a {
    color: #fff;
}

.card ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #555;
}

img {
    border-radius: 50%;
}